@using System.Web.Mvc.Html
@model IEnumerable<Case.Core.Model.BookCatalogItem>
@{

    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <tr>
        <th>
            <!--Accordin to SO should work even its null-->
            @{ Case.Core.Model.BookCatalogItem dummyModel = null; }
            @Html.DisplayName("Isbn")
        </th>
        <th>
            @Html.DisplayName("Title")
        </th>
        <th>
            @Html.DisplayName("Author")
        </th>
        <th></th>
    </tr>
    
    

    @foreach (var item in Model) {
        <tr id="@Html.Raw(Json.Encode(item.Isbn))">
            <td>
                @Html.DisplayFor(modelItem => item.Isbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                <buton id="remove_@(Html.Raw(item.Isbn))">Remove</buton>

                <script>
                    $(function() {
                        $('#remove_@(Html.Raw(item.Isbn))').unbind().click(function() {
                            var storedIsbns = JSON.parse(localStorage.getItem("isbns"));
                            storedIsbns.splice(storedIsbns.indexOf(@Html.Raw(Json.Encode(item.Isbn))), 1);
                            localStorage.setItem("isbns", JSON.stringify(storedIsbns));
                            $('@(Html.Raw(item.Isbn))').remove();
                        });
                    })
                </script>
                <!--TODO Maybe remove button?-->
            </td>
        </tr>
    }
</table>

<button id="rent_btn">Rent</button>

<script>
    $("#rent_btn").unbind().click(function () {
        console.log("rent pressed");
        var storedIsbns = JSON.parse(localStorage.getItem("isbns"));
        localStorage.removeItem("isbns");
        window.location.href = '@Url.Action("Rent", "Book")/' + storedIsbns.join();
    })
</script>



